

.bg-half {
    background-image: url('../assets/images/home/bg-services.jpg');
}


#History {
    background-image: url('../assets/images/home/bg-history.jpg');
}
body {
  margin-bottom: 60px;
}

.bg-half {
    background-image: url('../assets/images/home/bg-about.jpg');
}