<!DOCTYPE html>
<html lang="en">


<!-- about00-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Multipurpose HTML5 Business Template">
    <meta name="author" content="Shreethemes">

    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Alita - A Responsive Multipurpose HTML Template</title>

    <script src="~/js/site.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins" rel="stylesheet">

    <!-- Bootstrap core CSS -->
   
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Magnificpopup Css -->
  
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->


    <link href="~/assets/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />


    <!--Slider-->



    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.css" rel="stylesheet" />
    <link href="~/assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/assets/css/slick.css" rel="stylesheet" />
    <link href="~/assets/css/slick-theme.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
 

    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/menu.css" rel="stylesheet" />
    <link href="~/assets/css/default.css" rel="stylesheet" />

</head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>

        
        <!-- HOME START-->

        <section class="bg-half">
            <div class="bg-overlay"></div>
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="page-next-level text-white">
                                    <h4 class="text-uppercase">About Us</h4>
                                    <div class="page-next"> <a href="index-2.html">Home</a> <i class="mdi mdi-chevron-right"></i> &nbsp;<span>About Us</span> </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- HOME END--> 

        <!-- ABOUT US START -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="about-section text-right mr-lg-3">
                            <h4 class="text-uppercase">We're knowledgeable about making benefits higher</h4>
                            <div class="spacer-15"></div>
                            <p class="text-muted">Why I say old chap that is, spiffing tomfoolery lost the plot plastered starkers tosser, say no biggie brolly bleeding super. The full monty Elizabeth nice one quaint butty give us a bell easy peasy gutted mate smashing, crikey cracking goal bobby James Bond knackered spiffing young delinquent down the pub bodge, bugger all mate old cor blimey guvnor what a load of rubbish.!</p>
                            <div class="mt-30">
                                <a href="#" class="btn btn-custom">read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6">
                        <div class="about-pic mt-sm-30">
                        
                        <img src="~/assets/images/about/about-page.jpg" class="img-fluid" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUT US END -->

        <!-- FEATURE-TWO START -->
        <section class="section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-two p-20 text-center">
                            <div class="feat-icon">
                                <i class="fas fa-hands"></i>
                            </div>

                            <div class="feat-head">
                                <h4>Our Vision</h4>
                                <p class="text-muted mb-0">Fortunately, the phrase electronic pre-press systems and, when found, an alarm can be raised.</p>
                                <div class="feature-hover-icon">
                                    <i class="fas fa-hands"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature-two p-20 text-center">
                            <div class="feat-icon">
                                <i class="fab fa-sketch"></i>
                            </div>

                            <div class="feat-head">
                                <h4>Our Mission</h4>
                                <p class="text-muted mb-0"> Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                <div class="feature-hover-icon">
                                    <i class="fab fa-sketch"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature-two p-20 text-center">
                            <div class="feat-icon">
                                <i class="fas fa-trophy"></i>
                            </div>

                            <div class="feat-head">
                                <h4>Achievements</h4>
                                <p class="text-muted mb-0">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                <div class="feature-hover-icon">
                                    <i class="fas fa-trophy"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FEATURE-TWO END -->

        <!-- COUNTER START -->
        <section class="section bg-counter">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row" id="counter">
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact p-4 mt-3 text-white">
                            <i class="pe-7s-wristwatch counter-icon"></i>
                            <h2 class="counter-value" data-count="654">4</h2>
                            <p class="counter-name mb-0">Working Hours</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-note2 counter-icon"></i>
                            <h2 class="counter-value" data-count="640">10</h2>
                            <p class="counter-name mb-0">Projects</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-users counter-icon"></i>
                            <h2 class="counter-value" data-count="238">201</h2>
                            <p class="counter-name mb-0">Clients</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-wine counter-icon"></i>                      
                            <h2 class="counter-value" data-count="532">2</h2>
                            <p class="counter-name mb-0">Tea Cup</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- COUNTER END -->

        <!-- FAQ & CHART START -->
        <section class="section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="faq-chart-section">
                            <h4>Success Story And Development</h4>
                            <div class="spacer-15"></div>
                            <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                        </div>
                        <div class="faq-content mt-4">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <a data-toggle="collapse" href="#collapseOne" class="faq" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="card-header" id="headingOne">
                                            <h4 class="mb-0 faq-question"> 2015 </h4>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <a data-toggle="collapse" href="#collapseTwo" class="faq collapsed" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="card-header" id="headingTwo">
                                            <h4 class="mb-0 faq-question"> 2016 </h4>
                                        </div>
                                    </a>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority, by injected humour, or randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <a data-toggle="collapse" href="#collapsethree" class="faq collapsed" aria-expanded="false" aria-controls="collapsethree">
                                        <div class="card-header" id="headingthree">
                                            <h4 class="mb-0 faq-question"> 2017 </h4>
                                        </div>
                                    </a>
                                    <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which believable.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <a data-toggle="collapse" href="#collapsefour" class="faq collapsed" aria-expanded="false" aria-controls="collapsefour">
                                        <div class="card-header" id="headingfour">
                                            <h4 class="mb-0 faq-question"> 2018 </h4>
                                        </div>
                                    </a>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, look even slightly believable.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="faq-chart-section">
                            <h4>We maintain best & optimum results</h4>
                            <div class="spacer-15"></div>
                            <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                        </div>
                        <div class="skill-bar mt-4">
                            <div class="tab-pane fade" id="skill" role="tabpanel">
                                <div class="skill">
                                    <div>
                                        <h6 class="text-muted mb-2">Investments</h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:90%;">
                                                <div class="progress-value text-muted h6">93%</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <h6 class="text-muted mb-2">Monitor</h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:70%;">
                                                <div class="progress-value text-muted h6">71%</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <h6 class="text-muted mb-2">Innovative</h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:83%;">
                                                <div class="progress-value text-muted h6">83%</div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="mt-4">
                                        <h6 class="text-muted mb-2">Profitability</h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:95%;">
                                                <div class="progress-value text-muted h6">95%</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <h6 class="text-muted mb-2">Management</h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:85%;">
                                                <div class="progress-value text-muted h6">85%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ & CHART END -->

        <!-- TEAM START -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-box mt-0">
                            <div class="team-box-img">
                              
                            <img src="~/assets/images/client/img-1.jpg" class="img-fluid" />

                            </div>
                            <div class="team-info text-center">
                                <h3 class="mb-0">Patricia Beegle</h3>
                                <small class="text-muted">CEO/Founder</small>
                            </div>
                            <div class="team-members-overlay">
                                <div class="text-center mt-2">
                                    <ul class="list-unstyled team-icon">
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-box mt-0">
                            <div class="team-box-img">
                               
                            <img src="~/assets/images/client/img-2.jpg" class="img-fluid" />
                            </div>
                            <div class="team-info text-center">
                                <h3 class="mb-0">Samuel Shelton</h3>
                                <small class="text-muted">Co-Founder</small>
                            </div>
                            <div class="team-members-overlay">
                                <div class="text-center mt-2">
                                    <ul class="list-unstyled team-icon">
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-box mt-0">
                            <div class="team-box-img">
                               
                            <img src="~/assets/images/client/img-3.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="team-info text-center">
                                <h3 class="mb-0">Anthony Goodrich</h3>
                                <small class="text-muted">Project Manager</small>
                            </div>
                            <div class="team-members-overlay">
                                <div class="text-center mt-2">
                                    <ul class="list-unstyled team-icon">
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-box mt-0">
                            <div class="team-box-img">
                              
                            <img src="~/assets/images/client/img-4.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="team-info text-center">
                                <h3 class="mb-0">Gertrude Childs</h3>
                                <small class="text-muted">Developer</small>
                            </div>
                            <div class="team-members-overlay">
                                <div class="text-center mt-2">
                                    <ul class="list-unstyled team-icon">
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
        <!-- TEAM END -->

        <!-- PARTNER START -->
        <section class="section-two bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="slider autoplay">
                       

                        <img src="~/assets/images/client/partner-1.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-1.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-2.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-3.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-4.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-5.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-1.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-2.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-3.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-4.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        <img src="~/assets/images/client/partner-5.png" class="mx-auto d-block img-fluid" alt="img-missing" />

                        <img src="~/assets/images/logo-white.png" class="mx-auto d-block img-fluid" alt="img-missing" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- PARTNER END -->

        <!-- FOOTER START -->
        <footer class="footer">
            <div class="section-two">
                <div class="container">
                    <!--Footer Info -->
                    <div class="row footer-info">
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="">
                                <a href="index-2.html" class="logo">
                                   
                                <img src="~/assets/images/logo-white.png" alt="missing_logo" height="20" />
                                </a>
                            </div>
                            <p class="text-footer-clr mt-3">These cases are perfectly simple and easy to free hour, when nothing prevents distinguish.</p>
                            <div>
                                <ul class="list-unstyled social-icon">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="footer-head">
                                <h5 class="text-light">Company</h5>
                            </div>
                            <div class="footer-item mt-3">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> About us</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Services</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Portfolio</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> News</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="footer-head">
                                <h5 class="text-light">Useful</h5>
                            </div>
                            <div class="footer-item mt-3">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Accounts</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Sales & Support</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Orders Track</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Download Center</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="footer-head">
                                <h5 class="text-light">Additional</h5>
                            </div>
                            <div class="footer-item mt-3">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Portfolio</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Contact Us</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Blog</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Help Center</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-head">
                                <h5 class="text-light">Newsletter</h5>
                            </div>
                            <div class="footer-news mt-3">
                                <p class="text-footer-clr">Subscribe to our email newsletter to receive useful articles and special offers.</p>
                                <div class="subscribed-form">
                                    <div class="subcribed-form">
                                        <form action="#">
                                            <input name="email" type="email" placeholder="Your Email" id="email" required="">
                                            <button type="submit" class=""><span class="fab fa-telegram-plane"></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Info -->
                </div>
            </div>
            <hr>

            <!-- Copyright Bar -->
            <section class="section-30">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <p class="copy-rights text-white mb-0"><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Copyright Bar -->
        </footer>
        <!-- FOOTER END -->

        <!-- Back to top -->    
        <a href="#" class="back-to-top" id="back-to-top"> 
            <i class="mdi mdi-chevron-up"> </i> 
        </a>
        <!-- Back to top --> 

        

        <!-- js placed at the end of the document so the pages load faster -->
 
    <script src="~/assets/js/jquery.min.js"></script>

    
    <script src="~/assets/js/popper.min.js"></script>


    <script src="~/assets/js/bootstrap.min.js"></script>

        <!-- Portfolio -->
     
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>

       
    <script src="~/assets/js/isotope.js"></script>

        <!-- Carousel -->
        
    <script src="~/assets/js/owl.carousel.min.js"></script>

       
    <script src="~/assets/js/owlcarousel.init.js"></script>

     
    <script src="~/assets/js/slick.min.js"></script>

       
    <script src="~/assets/js/slick.init.js"></script>

        <!-- COUNTER -->
    
    <script src="~/assets/js/counter.init.js"></script>

        <!--custom script-->
    
    <script src="~/assets/js/app.js"></script>

    </body>


<!-- about01-->
</html>